extends layout

block content
	div.row
		div.col-md-4.col-md-offset-4
			.panel.panel-primary
				.panel-heading
					h4 Add washing machine
				.panel-body
					div.signup-wall
						form(class='form-signin', action='/washer', method='POST')
							input.form-control.bottom-space-m(type='text', name='name', placeholder='Name',required, autofocus)
							input.form-control.bottom-space-l(type='text', name='location', placeholder='Location', required)
							button.btn.btn-primary(type='submit') Add Washing Machine
							span.clearfix
					#message
					if message
						h1.text-center.error-message #{message}
						